$colour-modal-title: #0094a7;
$colour-link: #f9a543;
$colour-link2: #23527c;
$colour-share: #212529;

// Social networks
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-pinterest: #cb2027;
$color-whatsapp: #43d854;
$color-gmail: #ea4335;
$color-skype: #00aff0;
$color-telegram: #00405d
